<b><font size = 20> Data Types </font></b>

A data type specifies the internal representation of the data and avaiable operations.<br>
We can get data types of values or variables, or objects

In [3]:
type(100)

int

In [4]:
type(100.0)

float

In [5]:
s = 'abc123'
type(s)

str

In [6]:
x, y = 1, 2.0 
type(x + y)

float

In [8]:
type(print)

builtin_function_or_method

In [9]:
type(print("abc123"))

abc123

NoneType

your turn:<br>
1. get data type of the value True<br>
2. get data type of this expression x==y<br>
3. why type(print("abc123")) = NoneType?

In [11]:
#put your code here

We can convert values from one type to another

In [12]:
# convert int to float and vice versa

x = float(5)
print("x: ", x)

y = int(123.456)
print("y: ", y)

x:  5.0
y:  123

In [21]:
#convert numbers to strings and vice versa

print('convert strings to numbers')
x = int('123')
y = float('123.5')
print('x + y: ', x+y)

print('\nconvert numbers to strings')
st1 = str(123)
st2 = str(123.5)
print('st1 + st2: ', st1+ st2)

convert strings to numbers
x + y:  246.5

convert numbers to strings
st1 + st2:  123123.5

your turn:<br>
1. compute the value of 123 + 'abc'
2. compute the value of $x^y$ where x = 2 and y = '10'

In [ ]:
#put your code here